/***********************************************************************/
/***** BASE *****/

/* Brand */
$smu-blue:          #151C55;
$smu-gold:          #8A704C;
$smu-silver:        #CCC;

/* Neutral */
$black:				#000;
$black-light:       lighten($black, 25%);
$black-lighter:     lighten($black, 50%);
$black-lightest:    lighten($black, 75%);
$white:       		#FFF;

/* Accents */
$smu-lkcsb:         #005C96;        
$smu-sis:           #C69200;
$smu-soa:           #9E0040;
$smu-soe:           #006685;
$smu-sol:           #330066;
$smu-soss:          #006633;

/* Alert */	
$alert-danger:		#D93C36;	
$alert-success:		#3EB33E;	
$alert-info:		#3DABCC;	
$alert-warning:		#E6A422;	
$alert-disabled:	$black-lightest;	

/* Tones */
$smu-blue-lighter:    	lighten($smu-blue, 20%);
$smu-blue-light:    	lighten($smu-blue, 10%);
$smu-blue-dark:     	darken($smu-blue, 10%);
$smu-blue-darker:   	darken($smu-blue, 20%);

$smu-gold-lighter:    	lighten($smu-gold, 20%);
$smu-gold-light:    	lighten($smu-gold, 10%);
$smu-gold-dark:     	darken($smu-gold, 10%);
$smu-gold-darker:   	darken($smu-gold, 20%);

$smu-lkcsb-lighter:  	lighten($smu-lkcsb, 20%);
$smu-lkcsb-light:  		lighten($smu-lkcsb, 10%);
$smu-lkcsb-dark:    	darken($smu-lkcsb, 10%);
$smu-lkcsb-darker:  	darken($smu-lkcsb, 20%);

$smu-sis-lighter:     	lighten($smu-sis, 20%);
$smu-sis-light:     	lighten($smu-sis, 10%);
$smu-sis-dark:      	darken($smu-sis, 10%);
$smu-sis-darker:    	darken($smu-sis, 20%);

$smu-soa-lighter:     	lighten($smu-soa, 20%);
$smu-soa-light:     	lighten($smu-soa, 10%);
$smu-soa-dark:      	darken($smu-soa, 10%);
$smu-soa-darker:    	darken($smu-soa, 20%);

$smu-soe-lighter:     	lighten($smu-soe, 20%);
$smu-soe-light:     	lighten($smu-soe, 10%);
$smu-soe-dark:      	darken($smu-soe, 8%);
$smu-soe-darker:    	darken($smu-soe, 15%);

$smu-sol-lighter:     	lighten($smu-sol, 20%);
$smu-sol-light:     	lighten($smu-sol, 10%);
$smu-sol-dark:      	darken($smu-sol, 8%);
$smu-sol-darker:    	darken($smu-sol, 15%);

$smu-soss-lighter:    	lighten($smu-soss, 20%);
$smu-soss-light:    	lighten($smu-soss, 10%);
$smu-soss-dark:     	darken($smu-soss, 8%);
$smu-soss-darker:   	darken($smu-soss, 15%);

$alert-danger-lighter:	lighten($alert-danger, 20%);
$alert-danger-light:	lighten($alert-danger, 10%);
$alert-danger-dark:		darken($alert-danger, 10%);
$alert-danger-darker:	darken($alert-danger, 20%);

$alert-success-lighter:	lighten($alert-success, 20%);
$alert-success-light:	lighten($alert-success, 10%);
$alert-success-dark:	darken($alert-success, 10%);
$alert-success-darker:	darken($alert-success, 20%);

$alert-info-lighter:	lighten($alert-info, 20%);
$alert-info-light:		lighten($alert-info, 10%);
$alert-info-dark:		darken($alert-info, 10%);
$alert-info-darker:		darken($alert-info, 20%);

$alert-warning-lighter:	lighten($alert-warning, 20%);
$alert-warning-light:	lighten($alert-warning, 10%);
$alert-warning-dark:	darken($alert-warning, 10%);
$alert-warning-darker:	darken($alert-warning, 20%);




/***********************************************************************/
/***** FONTS *****/

/* Font Family */
$font-family-heading:   'oswald', sans-serif;
$font-family-body:    	'open sans', sans-serif;

/* Base */
$font-size-base: 	  	16px;
$line-height-base:    	1.25em; 
$line-height-paragraph: 1.5em; 
$baseline:			  	1.5rem;

/* Headings */
$font-size-h1: 3rem; 						// 48px
$font-size-h2: 2.5rem; 						// 40px
$font-size-h3: 2rem; 						// 32px
$font-size-h4: 1.5rem; 						// 24px
$font-size-h5: 1.125rem;					// 18px
$font-size-h6: 0.75rem; 					// 12px

/* Body */
$font-size-large: 1.5rem; 					// 24px
$font-size-small: 0.75rem; 					// 12px

/* Weights */
$regular: 	400;
$semibold: 	600;    						// For text links only!!!
$bold: 		  700;

/* Others */
$letter-spacing: 2px;

/***********************************************************************/
/***** SPACING *****/

/* Base */
$space-base: 1rem;

/* Steps */
$space-xs: $space-base/4;					// 4px
$space-sm: $space-base/2;					// 8px
$space-md: $space-base;						// 16px
$space-lg: $space-base*1.5;					// 24px
$space-xl: $space-base*2;					// 32px


/***********************************************************************/
/***** UTILITIES *****/

$border: 1px solid;

/* Transition */
$ease-all: all ease 0.3s;
$ease-bg: background ease 0.3s;
$ease-opacity: opacity ease 0.3s;
$ease-border: opacity ease 0.3s;

/* Border Radius */
$radius: 0.25rem;
$radius-t: 0.25rem 0.25rem 0 0;
$radius-b: 0 0 0.25rem 0.25rem;
$radius-l: 0 0 0 0.25rem;
$radius-r: 0 0 0.25rem 0;

/* Shadows */
$shadow-far: 2px 2px 1rem rgba(0,0,0,0.20);
$shadow-near: 1px 1px 0.5rem rgba(0,0,0,0.35);
$shadow-none: none;

/* Filter */
$brighter: brightness(115%);
$darker: brightness(50%);

/* User Select */
$no-user-select: none;