#header-two {
    padding-top: 0;
    padding-bottom: 0;
    background: #fff !important;
    position: relative !important;
    overflow: visible;
}

.obg {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 80px;
}
.obg.obg-white {
/* initial with js intervention */
    width: 24%;
}
.obg.obg-white {
    background-color: white;
    left: 0;
}
.obg.obg-site {
/* initial with js intervention */
    width: 76%;
}
.obg.obg-site {
    background: #102b72 !important;
    right: 0;
}
.navbar-header-container {
    position: relative;
    height: auto;
}
.navbar-header-container .navbar-header {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.site-branding {
    white-space: nowrap;
}

element {

}
.ob-smu-logo, .ob-bu-logo, .ob-oblique {
    display: inline-block;
}
.ob-smu-logo, .ob-bu-logo {
    background: #ffffff;
    padding-right: 15px;
}
.ob-smu-logo a, .ob-bu-logo a {
    padding: 10px 0;
    display: inline-block;
}
.ob-smu-logo, .ob-bu-logo, .ob-oblique {
    display: inline-block;
}
.ob-oblique img {
    width: 30px;
    height: 80px;
}