@import '_declarations';


/**********************************/
/* Override current sitemap's css */
body>h1:first-child,
body #footer {
    display: none;
}

#information p {
    font-weight: bold;
    width: 100%;
    margin: 15px 0;
    max-width: 1140px;
    margin: 0 auto;
}

table {
    width: 100%;
    max-width: 1140px;
    background: transparent;

    &.sitemap {
        max-width: 1140px;
        margin: 0 auto;

        thead {
            tr {
                th {

                    &.header {
                        padding: 10px 15px;
                        width: 20%;
                        font-size: 14px;
                        line-height: 18px;
                        background: #151C55;
                        color: #FFF;

                        &:nth-child(1) {
                            width: 60%;
                        }

                        &:nth-child(4) {
                            display: none;
                        }

                        &.headerSortUp,
                        &.headerSortDown {
                            font-style: normal;
                            background-size: 12px 12px !important;
                            background-repeat: no-repeat !important;
                        }

                        &.headerSortUp {
                            background: url('https://image.flaticon.com/icons/svg/25/25678.svg') $smu-gold calc(100% - 15px) 50%;
                        }

                        &.headerSortDown {
                            background: url('https://image.flaticon.com/icons/svg/25/25243.svg') $smu-gold calc(100% - 15px) 50%;
                        }

                        &:nth-child(4) {
                            display: none;
                            padding: 0;
                            margin: 0;
                            width: 0;
                            border-collapse: collapse;
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 10px 15px;
                    width: 20%;
                    font-size: 14px;
                    line-height: 18px;
                    padding: 10px 15px;

                    &:nth-child(1) {
                        width: 60%;
                    }

                    &:nth-child(4) {
                        display: none;
                    }
                }

                &:nth-child(even) {
                    td {
                        background-color: #FFF !important;
                    }
                }
                &:nth-child(odd) {
                    td {
                        background-color: #F9F9F9 !important;
                    }
                }
            }


        }
    }
}



/**********************************/
/* Additional css */

header {
    width: 100%;
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.25);
    z-index: 2;

    .filter {
        width: 100%;
        padding: 15px 30px;


        #searchFilter {
            display: block;
            background-image: url('https://image.flaticon.com/icons/svg/49/49116.svg');
            background-size: 20px 20px;
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            max-width: 1140px;
            font-size: 16px;
            padding: 10px 15px 10px 40px;
            margin: 0 auto;
            border: 1px solid $smu-border;
            @include border-radius($border-radius);
        }

    }
}

content {
    display: block;
    margin: 184px auto 30px;
}

a#top {
    display: inline-block;
}

#backtotop {
    background: url('https://image.flaticon.com/icons/svg/127/127923.svg') rgba(120, 120, 120, 0.35) no-repeat center center;
    background-size: 40px 40px;
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-indent: -9999px;
    z-index: 1;
    cursor: pointer;
}

footer {
    background: #1c1C1C;
    padding: 30px 0;

    hr {
        border-color: #444;
    }

    h4 {
        color: #AAA;
        text-transform: uppercase;
    }

    p {
        color: #AAA;
        font-style: 13px;
        line-height: 1.5em;
    }

    .break {
        width: 35.1px;
        height: 2px;
        border: solid 1px #979797;
        margin-bottom: 2em;
    }

    a {
        color: #fff;
        cursor: pointer;
        @include transition($all-ease);
        display: inline-block;

        &:hover {
            color: #fff;
            opacity: 0.8;
            border: 0;
            @include transform($slide-right);
            @include transition($all-ease);
            text-decoration: none;
        }

        span {
            display: none;
        }
    }

    ul {
        padding: 0;
        list-style: none;
    }

    ul.footer-list-links {
        li {
            padding: 2px 0;
        }
    }

    ul.footer-links {
        li {
            border-right: 1px solid #333;
            display: inline-block;
            padding: 0 5px;
            font-size: 12px;

            a {
                color: #999;

                &:hover {
                    @include transform(translateY(0));
                }
            }
        }

        li:nth-child(1) {
            padding-left: 0;
        }

        li:last-child {
            border-right: 0;
        }

    }

    ul.social-menu {
        text-align: right;

        li {
            display: inline-block;
            font-size: 28px;
            padding: 0 2px;

            a {
                color: #999;

                &:hover {
                    @include transform(translateY(0));
                }
            }
        }
    }
}



@import '_responsive';