/* RESPONSIVE */

@media (max-width: 991px) {

    p,
    span {
        font-size: 14px;
        line-height: 14px*$line-height-base;
    }

    .btn {
        min-width: 0;
    }

    .inner-pages {

        .container-fluid,
        .container {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .flex-row {
        display: block;
        flex-direction: row !important;
    }

    table {
        &.sitemap {
            width: calc(100% - 30px);

            thead {
                th {
                    display: block;
                    word-break: break-all;

                    &:nth-child(1) {
                        width: 100% !important;

                    }

                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        display: none;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        display: block;
                        word-break: break-all;

                        &:nth-child(1) {
                            width: 100% !important;

                        }

                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    header {
        width: 100%;

        #header-two {
            padding: 0;
        }

        .filter {
            width: 100%;

            #searchFilter {
                width: 100%;
                margin: 0 auto;
            }

        }
    }

    content {

        #information {
            width: calc(100% - 30px);
            margin: 15px auto;
        }
    }

    footer {
        ul.footer-links,
        ul.social-menu,
        h4,
        p,
        ul li {
            text-align: center;
        }
        div.break {
            display: block;
            margin: 0 auto;
        }
    }

}

@media (max-width: 767px) {}