@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
/***********************************************************************/
/***** BASE *****/
/* Brand */
/* Neutral */
/* Accents */
/* Alert */
/* Tones */
/***********************************************************************/
/***** FONTS *****/
/* Font Family */
/* Base */
/* Headings */
/* Body */
/* Weights */
/* Others */
/***********************************************************************/
/***** SPACING *****/
/* Base */
/* Steps */
/***********************************************************************/
/***** UTILITIES *****/
/* Transition */
/* Border Radius */
/* Shadows */
/* Filter */
/* User Select */
/**********************************************************************/
/***** MIXIN *****/
/* Transform */
/*************************************/
/***** COLOR *****/
/* Text */
.blue {
  color: #151C55; }

.gold {
  color: #8A704C; }

.silver {
  color: #CCC; }

.black {
  color: #000; }

.white {
  color: #FFF; }

.lkcsb {
  color: #005C96; }

.sis {
  color: #C69200; }

.soa {
  color: #9E0040; }

.soe {
  color: #006685; }

.sol {
  color: #330066; }

.soss {
  color: #006633; }

/* Backgrounds */
.bg {
  /*color: $white; */ }
  .bg.blue {
    background: #151C55; }
  .bg.gold {
    background: #8A704C; }
  .bg.silver {
    background: #CCC; }
  .bg.black {
    background: #000; }
  .bg.white {
    background: #FFF;
    color: #000; }
  .bg.lkcsb {
    background: #005C96; }
  .bg.sis {
    background: #C69200;
    color: #000; }
  .bg.soa {
    background: #9E0040; }
  .bg.soe {
    background: #006685; }
  .bg.sol {
    background: #330066; }
  .bg.soss {
    background: #006633; }
  .bg.success {
    background: #3EB33E; }
  .bg.info {
    background: #3DABCC; }
  .bg.warning {
    background: #E6A422; }
  .bg.danger {
    background: #D93C36; }
  .bg.darker {
    color: #FFF; }
    .bg.darker.blue {
      background: #010103; }
    .bg.darker.gold {
      background: #483b28; }
    .bg.darker.lkcsb {
      background: #001d30; }
    .bg.darker.sis {
      background: #604700; }
    .bg.darker.soa {
      background: #380017; }
    .bg.darker.soe {
      background: #002b39; }
    .bg.darker.sol {
      background: #0d001a; }
    .bg.darker.soss {
      background: #001a0d; }
    .bg.darker.black {
      background: #000; }
    .bg.darker.success {
      background: #246724; }
    .bg.darker.info {
      background: #226b81; }
    .bg.darker.warning {
      background: #926610; }
    .bg.darker.danger {
      background: #8e1f1b; }
  .bg.dark {
    color: #FFF; }
    .bg.dark.blue {
      background: #0b0f2c; }
    .bg.dark.gold {
      background: #69553a; }
    .bg.dark.lkcsb {
      background: #003d63; }
    .bg.dark.sis {
      background: #936c00; }
    .bg.dark.soa {
      background: #6b002b; }
    .bg.dark.soe {
      background: #00475c; }
    .bg.dark.sol {
      background: #1f003d; }
    .bg.dark.soss {
      background: #003d1f; }
    .bg.dark.black {
      background: #404040; }
    .bg.dark.success {
      background: #318d31; }
    .bg.dark.info {
      background: #2d8da9; }
    .bg.dark.warning {
      background: #bf8616; }
    .bg.dark.danger {
      background: #b92923; }
  .bg.light {
    color: #000; }
    .bg.light.blue {
      background: #1f297e; }
    .bg.light.gold {
      background: #a88a61; }
    .bg.light.lkcsb {
      background: #007bc9; }
    .bg.light.sis {
      background: #f9b800; }
    .bg.light.soa {
      background: #d10055; }
    .bg.light.soe {
      background: #008db8; }
    .bg.light.sol {
      background: #4d0099; }
    .bg.light.soss {
      background: #00994d; }
    .bg.light.black {
      background: gray; }
    .bg.light.success {
      background: #5dc75d; }
    .bg.light.info {
      background: #65bcd7; }
    .bg.light.warning {
      background: #ebb750; }
    .bg.light.danger {
      background: #e16661; }
  .bg.lighter {
    color: #000; }
    .bg.lighter.blue {
      background: #2937a7; }
    .bg.lighter.gold {
      background: #baa382; }
    .bg.lighter.lkcsb {
      background: #009bfc; }
    .bg.lighter.sis {
      background: #ffc82d; }
    .bg.lighter.soa {
      background: #ff056a; }
    .bg.lighter.soe {
      background: #00b4eb; }
    .bg.lighter.sol {
      background: #6600cc; }
    .bg.lighter.soss {
      background: #00cc66; }
    .bg.lighter.black {
      background: #bfbfbf; }
    .bg.lighter.success {
      background: #83d483; }
    .bg.lighter.info {
      background: #8ecee1; }
    .bg.lighter.warning {
      background: #f0ca7e; }
    .bg.lighter.danger {
      background: #e98f8c; }

/* Borders */
.border.blue {
  border-color: #151C55; }
.border.gold {
  border-color: #8A704C; }
.border.black {
  border-color: #000; }
.border.white {
  border-color: #FFF; }
.border.lkcsb {
  border-color: #005C96; }
.border.sis {
  border-color: #C69200; }
.border.soa {
  border-color: #9E0040; }
.border.soe {
  border-color: #006685; }
.border.sol {
  border-color: #330066; }
.border.soss {
  border-color: #006633; }
.border.success {
  background: #3EB33E; }
.border.info {
  background: #3DABCC; }
.border.warning {
  background: #E6A422; }
.border.danger {
  background: #D93C36; }
.border.darker.blue {
  border-color: #010103; }
.border.darker.gold {
  border-color: #483b28; }
.border.darker.lkcsb {
  border-color: #001d30; }
.border.darker.sis {
  border-color: #604700; }
.border.darker.soa {
  border-color: #380017; }
.border.darker.soe {
  border-color: #002b39; }
.border.darker.sol {
  border-color: #0d001a; }
.border.darker.soss {
  border-color: #001a0d; }
.border.darker.black {
  border-color: #000; }
.border.darker.success {
  background: #246724; }
.border.darker.info {
  background: #226b81; }
.border.darker.warning {
  background: #926610; }
.border.darker.danger {
  background: #8e1f1b; }
.border.dark.blue {
  border-color: #0b0f2c; }
.border.dark.gold {
  border-color: #69553a; }
.border.dark.lkcsb {
  border-color: #003d63; }
.border.dark.sis {
  border-color: #936c00; }
.border.dark.soa {
  border-color: #6b002b; }
.border.dark.soe {
  border-color: #00475c; }
.border.dark.sol {
  border-color: #1f003d; }
.border.dark.soss {
  border-color: #003d1f; }
.border.dark.black {
  border-color: #404040; }
.border.dark.success {
  background: #318d31; }
.border.dark.info {
  background: #2d8da9; }
.border.dark.warning {
  background: #bf8616; }
.border.dark.danger {
  background: #b92923; }
.border.light.blue {
  border-color: #1f297e; }
.border.light.gold {
  border-color: #a88a61; }
.border.light.lkcsb {
  border-color: #007bc9; }
.border.light.sis {
  border-color: #f9b800; }
.border.light.soa {
  border-color: #d10055; }
.border.light.soe {
  border-color: #008db8; }
.border.light.sol {
  border-color: #4d0099; }
.border.light.soss {
  border-color: #00994d; }
.border.light.black {
  border-color: gray; }
.border.light.success {
  background: #5dc75d; }
.border.light.info {
  background: #65bcd7; }
.border.light.warning {
  background: #ebb750; }
.border.light.danger {
  background: #e16661; }
.border.lighter.blue {
  border-color: #2937a7; }
.border.lighter.gold {
  border-color: #baa382; }
.border.lighter.lkcsb {
  border-color: #009bfc; }
.border.lighter.sis {
  border-color: #ffc82d; }
.border.lighter.soa {
  border-color: #ff056a; }
.border.lighter.soe {
  border-color: #00b4eb; }
.border.lighter.sol {
  border-color: #6600cc; }
.border.lighter.soss {
  border-color: #00cc66; }
.border.lighter.black {
  border-color: #bfbfbf; }
.border.lighter.success {
  background: #83d483; }
.border.lighter.info {
  background: #8ecee1; }
.border.lighter.warning {
  background: #f0ca7e; }
.border.lighter.danger {
  background: #e98f8c; }

/*************************************/
/***** COMPONENT *****/
/* Containers */
header {
  margin: 0;
  padding: 0; }

footer {
  margin: 0;
  padding: 1.5rem 0; }

section {
  padding: 1.5rem 1rem; }

article {
  padding: 1.5rem 0; }

figure {
  display: block;
  margin: 1.5rem 0 0.5rem 0; }

.container-fluid {
  width: 100%;
  padding: 0 15px;
  overflow-x: hidden; }

.container {
  width: calc(100% - 30px);
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  overflow-x: hidden; }

i.fa,
i,
fas,
i.fab {
  margin: 0 0 0 5px; }

/* Tables */
table.borderless {
  border: 0; }
  table.borderless thead, table.borderless tbody, table.borderless tr, table.borderless td, table.borderless th {
    border: 0 !important; }

/* Lists */
ol,
ul {
  padding-left: 2rem; }
  ol li,
  ul li {
    padding: 0.5rem 0; }

ul li {
  list-style-type: disc; }

ol li {
  list-style-type: decimal; }

/* Media */
img {
  border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  width: 100%;
  height: auto;
  border: 0;
  display: block;
  margin: 0.5rem 0;
  padding: 0; }

iframe {
  border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  width: 100%; }

/* Borders */
.border.all {
  border: 1px solid; }
.border.top {
  border-top: 1px solid; }
.border.bottom {
  border-bottom: 1px solid; }
.border.left {
  border-left: 1px solid; }
.border.right {
  border-right: 1px solid; }
.border.thick {
  border-width: 4px; }
  .border.thick.top {
    border-top: 4px solid; }
  .border.thick.bottom {
    border-bottom: 4px solid; }
  .border.thick.left {
    border-left: 4px solid; }
  .border.thick.right {
    border-right: 4px solid; }
.border.thicker {
  border-width: 8px; }
  .border.thicker.top {
    border-top: 8px solid; }
  .border.thicker.bottom {
    border-bottom: 8px solid; }
  .border.thicker.left {
    border-left: 8px solid; }
  .border.thicker.right {
    border-right: 8px solid; }
.border.dotted {
  border-style: dotted; }
.border.dashed {
  border-style: dashed; }
.border.double {
  border-style: double; }

hr {
  border-color: #bfbfbf;
  margin: 1rem 0; }

/*************************************/
/***** FONT *****/
/* Headings */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  color: #000; }

h1, h2, h3, h4, h5, h6 {
  font-family: "oswald", sans-serif;
  text-transform: uppercase; }

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "open sans", sans-serif;
  text-transform: uppercase; }

h1, .h1 {
  font-size: 3rem;
  line-height: 1.25em; }

h2, .h2 {
  font-size: 2.5rem;
  line-height: 1.25em; }

h3, .h3 {
  font-size: 2rem;
  line-height: 1.25em; }

h4, .h4 {
  font-size: 1.5rem;
  line-height: 1.25em; }

h5, .h5 {
  font-size: 1.125rem;
  line-height: 1.25em; }

h6, .h6 {
  font-size: 0.75rem;
  line-height: 1.25em; }

/* Body */
table thead tr th, table tbody tr td, table tfoot tr td, li, p,
span, small, .small, label, input,
select,
input[type='*'],
.radio label,
.checkbox label, textarea {
  font-size: 16px;
  font-family: "open sans", sans-serif;
  color: #000; }

p {
  line-height: 1.5em;
  margin: 1rem 0 1rem 0; }

b,
strong,
.bold {
  font-weight: 700; }
  b i, b em,
  strong i,
  strong em,
  .bold i,
  .bold em {
    font-style: italic; }

i,
em {
  font-style: italic; }
  i b, i strong,
  em b,
  em strong {
    font-weight: 700; }

small, .small {
  font-size: 0.75rem; }

/* Form */
label {
  font-weight: 400;
  font-size: 0.75rem;
  color: #404040; }

input,
select,
input[type='*'],
.radio label,
.checkbox label {
  font-weight: 400;
  font-size: 1.125rem; }

textarea {
  font-weight: 400; }

/* Classes */
header h1, header h2, header h3, header h4 {
  margin: 0;
  padding: 0; }

.body {
  font-family: "open sans", sans-serif; }

.normal {
  font-weight: 400; }

figure span {
  font-weight: 400;
  font-size: 0.75rem;
  font-style: italic;
  color: gray; }

/*************************************/
/***** FORM *****/
label, input[type=text],
input[type=email],
textarea, select {
  display: block;
  width: 100%; }

input[type=text],
input[type=email],
textarea, select, .radio,
.checkbox {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-bottom: 1px solid; }

input[type=text]:focus,
input[type=email]:focus,
textarea:focus, select:focus {
  outline: none;
  border-bottom: 1px solid;
  border-color: #a88a61;
  background-color: gray; }

form {
  margin: 1rem 0; }

label {
  margin: 0 0 0.25rem; }

input[type=text],
input[type=email],
textarea {
  padding: 0.5rem 1rem; }

textarea {
  min-height: 100px; }

select {
  padding: 0.5rem 1rem;
  height: 36px; }
  select[multiple] {
    height: auto; }
    select[multiple] option {
      padding: 0.25rem 1rem;
      margin: 0 -15px; }
  select[disabled] {
    color: #bfbfbf;
    cursor: not-allowed; }

.radio,
.checkbox {
  border-bottom: 0; }

/*************************************/
/***** LINK *****/
/* Text Links */
a, a:hover, a:focus, a.cta {
  transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  font-size: inherit;
  line-height: 1;
  text-decoration: none;
  border-bottom-style: solid;
  border-color: transparent; }

a {
  font-weight: 600;
  border-bottom-width: 1px; }

a {
  color: #8A704C;
  border-bottom-color: transparent; }
  a:hover {
    color: #8A704C;
    border-color: #8A704C; }
  a:focus {
    color: #69553a;
    border-bottom-color: #69553a; }
  a.gold {
    color: #8A704C;
    border-bottom-color: transparent; }
    a.gold:hover {
      color: #8A704C;
      border-color: #8A704C; }
    a.gold:focus {
      color: #69553a;
      border-bottom-color: #69553a; }
  a.blue {
    color: #151C55;
    border-bottom-color: transparent; }
    a.blue:hover {
      color: #151C55;
      border-color: #151C55; }
    a.blue:focus {
      color: #0b0f2c;
      border-bottom-color: #0b0f2c; }
  a.silver {
    color: #CCC;
    border-bottom-color: transparent; }
    a.silver:hover {
      color: #CCC;
      border-color: #CCC; }
    a.silver:focus {
      color: gray;
      border-bottom-color: gray; }
  a.lkcsb {
    color: #005C96;
    border-bottom-color: transparent; }
    a.lkcsb:hover {
      color: #005C96;
      border-color: #005C96; }
    a.lkcsb:focus {
      color: #003d63;
      border-bottom-color: #003d63; }
  a.sis {
    color: #C69200;
    border-bottom-color: transparent; }
    a.sis:hover {
      color: #C69200;
      border-color: #C69200; }
    a.sis:focus {
      color: #936c00;
      border-bottom-color: #936c00; }
  a.soa {
    color: #9E0040;
    border-bottom-color: transparent; }
    a.soa:hover {
      color: #9E0040;
      border-color: #9E0040; }
    a.soa:focus {
      color: #6b002b;
      border-bottom-color: #6b002b; }
  a.soe {
    color: #006685;
    border-bottom-color: transparent; }
    a.soe:hover {
      color: #006685;
      border-color: #006685; }
    a.soe:focus {
      color: #00475c;
      border-bottom-color: #00475c; }
  a.sol {
    color: #330066;
    border-bottom-color: transparent; }
    a.sol:hover {
      color: #330066;
      border-color: #330066; }
    a.sol:focus {
      color: #1f003d;
      border-bottom-color: #1f003d; }
  a.soss {
    color: #006633;
    border-bottom-color: transparent; }
    a.soss:hover {
      color: #006633;
      border-color: #006633; }
    a.soss:focus {
      color: #003d1f;
      border-bottom-color: #003d1f; }
  a.success {
    color: #3EB33E;
    border-bottom-color: transparent; }
    a.success:hover {
      color: #3EB33E;
      border-color: #3EB33E; }
    a.success:focus {
      color: #318d31;
      border-bottom-color: #318d31; }
  a.info {
    color: #3DABCC;
    border-bottom-color: transparent; }
    a.info:hover {
      color: #3DABCC;
      border-color: #3DABCC; }
    a.info:focus {
      color: #2d8da9;
      border-bottom-color: #2d8da9; }
  a.warning {
    color: #E6A422;
    border-bottom-color: transparent; }
    a.warning:hover {
      color: #E6A422;
      border-color: #E6A422; }
    a.warning:focus {
      color: #bf8616;
      border-bottom-color: #bf8616; }
  a.danger {
    color: #D93C36;
    border-bottom-color: transparent; }
    a.danger:hover {
      color: #D93C36;
      border-color: #D93C36; }
    a.danger:focus {
      color: #b92923;
      border-bottom-color: #b92923; }

/* Buttons */
a.cta {
  border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.2);
  -o-box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-family: "oswald", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
  padding: 8px 16px;
  display: inline-block;
  max-width: 280px;
  border-width: 1px;
  border-style: solid;
  color: #FFF; }

a.cta.border, a.cta.gold.border {
  background: transparent !important;
  border-width: 1px;
  border-style: solid; }

a.cta:hover, a.cta:active, a.cta.border:hover, a.cta.border:active, a.cta.gold:hover, a.cta.gold:active, a.cta.gold.border:hover, a.cta.gold.border:active, a.cta.border.inverse:hover, a.cta.border.inverse:active, a.cta.gold.border.inverse:hover, a.cta.gold.border.inverse:active, a.cta.blue.border.inverse:hover, a.cta.blue.border.inverse:active {
  border-color: #bfbfbf !important;
  background: #FFF !important; }

a.cta:focus, a.cta.border:focus, a.cta.gold:focus, a.cta.gold.border:focus, a.cta.border.inverse:focus, a.cta.gold.border.inverse:focus, a.cta.blue.border.inverse:focus {
  box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #FFF !important;
  background: #FFF !important; }

a.cta, a.cta.gold {
  background: #8A704C; }
  a.cta.border, a.cta.gold.border {
    border-color: #8A704C;
    color: #8A704C; }
  a.cta:hover, a.cta:active, a.cta.border:hover, a.cta.border:active, a.cta.gold:hover, a.cta.gold:active, a.cta.gold.border:hover, a.cta.gold.border:active {
    color: #8A704C; }
  a.cta:focus, a.cta.border:focus, a.cta.gold:focus, a.cta.gold.border:focus {
    color: #8A704C; }
  a.cta.border.inverse, a.cta.gold.border.inverse {
    background: transparent !important;
    border-color: #FFF;
    color: #FFF; }
    a.cta.border.inverse:hover, a.cta.border.inverse:active, a.cta.gold.border.inverse:hover, a.cta.gold.border.inverse:active {
      color: #8A704C; }
    a.cta.border.inverse:focus, a.cta.gold.border.inverse:focus {
      color: #8A704C; }
a.cta.blue {
  background: #151C55; }
  a.cta.blue.border {
    border-color: #151C55;
    color: #151C55; }
  a.cta.blue:hover, a.cta.blue:active, a.cta.blue.border:hover, a.cta.blue.border:active {
    color: #151C55; }
  a.cta.blue:focus, a.cta.blue.border:focus {
    color: #151C55; }
  a.cta.blue.border.inverse {
    background: transparent !important;
    border-color: #FFF;
    color: #FFF; }
    a.cta.blue.border.inverse:hover, a.cta.blue.border.inverse:active {
      color: #151C55; }
    a.cta.blue.border.inverse:focus {
      color: #151C55; }
a.cta.lkcsb {
  background: #005C96; }
  a.cta.lkcsb.border {
    border-color: #005C96;
    color: #005C96; }
  a.cta.lkcsb:hover, a.cta.lkcsb:active, a.cta.lkcsb.border:hover, a.cta.lkcsb.border:active {
    color: #005C96; }
  a.cta.lkcsb:focus, a.cta.lkcsb.border:focus {
    color: #005C96; }
a.cta.sis {
  background: #C69200; }
  a.cta.sis.border {
    border-color: #C69200;
    color: #C69200; }
  a.cta.sis:hover, a.cta.sis:active, a.cta.sis.border:hover, a.cta.sis.border:active {
    color: #C69200; }
  a.cta.sis:focus, a.cta.sis.border:focus {
    color: #C69200; }
a.cta.soa {
  background: #9E0040; }
  a.cta.soa.border {
    border-color: #9E0040;
    color: #9E0040; }
  a.cta.soa:hover, a.cta.soa:active, a.cta.soa.border:hover, a.cta.soa.border:active {
    color: #9E0040; }
  a.cta.soa:focus, a.cta.soa.border:focus {
    color: #9E0040; }
a.cta.soe {
  background: #006685; }
  a.cta.soe.border {
    border-color: #006685;
    color: #006685; }
  a.cta.soe:hover, a.cta.soe:active, a.cta.soe.border:hover, a.cta.soe.border:active {
    color: #006685; }
  a.cta.soe:focus, a.cta.soe.border:focus {
    color: #006685; }
a.cta.sol {
  background: #330066; }
  a.cta.sol.border {
    border-color: #330066;
    color: #330066; }
  a.cta.sol:hover, a.cta.sol:active, a.cta.sol.border:hover, a.cta.sol.border:active {
    color: #330066; }
  a.cta.sol:focus, a.cta.sol.border:focus {
    color: #330066; }
a.cta.soss {
  background: #006633; }
  a.cta.soss.border {
    border-color: #006633;
    color: #006633; }
  a.cta.soss:hover, a.cta.soss:active, a.cta.soss.border:hover, a.cta.soss.border:active {
    color: #006633; }
  a.cta.soss:focus, a.cta.soss.border:focus {
    color: #006633; }
a.cta.success {
  background: #3EB33E; }
  a.cta.success.border {
    border-color: #3EB33E;
    color: #3EB33E; }
  a.cta.success:hover, a.cta.success:active, a.cta.success.border:hover, a.cta.success.border:active {
    color: #3EB33E; }
  a.cta.success:focus, a.cta.success.border:focus {
    color: #3EB33E; }
a.cta.info {
  background: #3DABCC; }
  a.cta.info.border {
    border-color: #3DABCC;
    color: #3DABCC; }
  a.cta.info:hover, a.cta.info:active, a.cta.info.border:hover, a.cta.info.border:active {
    color: #3DABCC; }
  a.cta.info:focus, a.cta.info.border:focus {
    color: #3DABCC; }
a.cta.warning {
  background: #E6A422; }
  a.cta.warning.border {
    border-color: #E6A422;
    color: #E6A422; }
  a.cta.warning:hover, a.cta.warning:active, a.cta.warning.border:hover, a.cta.warning.border:active {
    color: #E6A422; }
  a.cta.warning:focus, a.cta.warning.border:focus {
    color: #E6A422; }
a.cta.danger {
  background: #D93C36; }
  a.cta.danger.border {
    border-color: #D93C36;
    color: #D93C36; }
  a.cta.danger:hover, a.cta.danger:active, a.cta.danger.border:hover, a.cta.danger.border:active {
    color: #D93C36; }
  a.cta.danger:focus, a.cta.danger.border:focus {
    color: #D93C36; }
a.cta.disabled {
  background: #bfbfbf !important;
  color: gray;
  box-shadow: none !important;
  cursor: not-allowed; }
  a.cta.disabled.border {
    border-color: #bfbfbf;
    color: gray; }
  a.cta.disabled:hover, a.cta.disabled:focus, a.cta.disabled:active {
    background: #bfbfbf !important;
    cursor: not-allowed;
    box-shadow: none !important;
    border-color: #bfbfbf; }
a.cta.small {
  font-size: 0.75rem;
  padding: 0.375rem 0.75rem; }
a.cta.large {
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem; }

/* Vendor's Code */
html {
  font-size: 16px;
  line-height: 1.25em; }

body {
  margin: 0;
  padding: 0; }

/* Fr testing purposes */
.bg-test .row .bg {
  width: 100px;
  height: 100px;
  display: block;
  margin: 5px;
  float: left;
  text-align: center;
  padding: 15px; }
.bg-test .row div:last-child::after {
  clear: both; }

.border-test .row .border {
  width: 100px;
  height: 100px;
  display: block;
  margin: 5px;
  float: left;
  text-align: center;
  padding: 15px;
  background: #F9F9F9; }
.border-test .row div:last-child::after {
  clear: both; }

.row {
  padding: 0.5rem 0; }

.buttons .row div {
  padding: 0.5rem; }
  .buttons .row div.bg.image {
    background: url("https://lorempixel.com/output/city-q-c-480-240-1.jpg"); }

/*************************************/
/***** RESPONSIVE *****/
/* LG Display */
/* MD Display */
/* SM Display */
/* XS-1 Display */
@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: 2.25rem;
    line-height: 3.375rem; }

  h2,
  .h2 {
    font-size: 2rem;
    line-height: 3rem; }

  h3,
  .h3 {
    font-size: 2rem;
    line-height: 2.4rem; }

  h4,
  .h4 {
    font-size: 1.125rem;
    line-height: 1.6875rem; } }
/* XS-2 Display */

/*# sourceMappingURL=styles.css.map */
