/***** COLORS  *****/

/* Text */
.text-blue {
    color: #151C55;
}

.text-gold {
    color: #8A704C;
}

.text-silver {
    color: #CCC;
}

.text-lkcsb {
    color: #005C96;
}

.text-sis {
    color: #C69200;
}

.text-soa {
    color: #9E0040;
}

.text-soe {
    color: #006685;
}

.text-sol {
    color: #330066;
}

.text-soss {
    color: #006633;
}


.text-cis {
    color: #000;
}

.text-cgrs {
    color: #009490;
}


/*Borders*/

.border {
    border: 1px solid #dee2e6 !important;
}

.border-top {
    border-top: 1px solid #dee2e6 !important;
}

.border-right {
    border-right: 1px solid #dee2e6 !important;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}

.border-left {
    border-left: 1px solid #dee2e6 !important;
}

.border-0 {
    border: 0 !important;
}

.border-top-0 {
    border-top: 0 !important;
}

.border-right-0 {
    border-right: 0 !important;
}

.border-bottom-0 {
    border-bottom: 0 !important;
}

.border-left-0 {
    border-left: 0 !important;
}

.border-primary {
    border-color: #151c55 !important;
}

.border-secondary {
    border-color: #8a704c !important;
}

.border-light {
    border-color: #f8f9fa !important;
}

.border-dark {
    border-color: #343a40 !important;
}

.border-bottom.thick,
.border-left.thick,
.border-right.thick,
.border-top.thick,
.border.thick {
    border-width: 4px !important;
}

.border-bottom.thicker,
.border-left.thicker,
.border-right.thicker,
.border-top.thicker,
.border.thicker {
    border-width: 8px !important;
}

.border-black {
    border-color: #000 !important;
}

.border-black.light {
    border-color: #404040 !important;
}

.border-black.lighter {
    border-color: #bfbfbf !important;
}

.border-white {
    border-color: #fff !important;
}

.border-silver {
    border-color: #ccc !important;
}

.border-dotted {
    border-style: dotted
}

.border-dashed {
    border-style: dashed
}

.border-double {
    border-style: double
}

.border-lkcsb {
    border-color: #005c96 !important;
}

.border-lkcsb.light {
    border-color: #007bc9 !important;
}

.border-lkcsb.lighter {
    border-color: #009bfc !important;
}

.border-lkcsb.dark {
    border-color: #003d63 !important;
}

.border-lkcsb.darker {
    border-color: #001d30 !important;
}

.border-sis {
    border-color: #c69200 !important;
}

.border-sis.light {
    border-color: #f9b800 !important;
}

.border-sis.lighter {
    border-color: #ffc82d !important;
}

.border-sis.dark {
    border-color: #936c00 !important;
}

.border-sis.darker {
    border-color: #604700 !important;
}

.border-soa {
    border-color: #9e0040 !important;
}

.border-soa.light {
    border-color: #d10055 !important;
}

.border-soa.lighter {
    border-color: #ff056a !important;
}

.border-soa.dark {
    border-color: #6b002b !important;
}

.border-soa.darker {
    border-color: #380017 !important;
}

.border-soe {
    border-color: #006685 !important;
}

.border-soe.light {
    border-color: #008db8 !important;
}

.border-soe.lighter {
    border-color: #00b4eb !important;
}

.border-soe.dark {
    border-color: #00475c !important;
}

.border-soe.darker {
    border-color: #002b39 !important;
}

.border-sol {
    border-color: #306 !important;
}

.border-sol.light {
    border-color: #4d0099 !important;
}

.border-sol.lighter {
    border-color: #60c !important;
}

.border-sol.dark {
    border-color: #1f003d !important;
}

.border-sol.darker {
    border-color: #0d001a !important;
}

.border-soss {
    border-color: #063 !important;
}

.border-soss.light {
    border-color: #00994d !important;
}

.border-soss.lighter {
    border-color: #0c6 !important;
}

.border-soss.dark {
    border-color: #003d1f !important;
}

.border-soss.darker {
    border-color: #001a0d !important;
}

.border-blue {
    border-color: #151c55 !important;
}

.border-blue.light {
    border-color: #1f297e !important;
}

.border-blue.lighter {
    border-color: #2937a7 !important;
}

.border-blue.dark {
    border-color: #0b0f2c !important;
}

.border-blue.darker {
    border-color: #010103 !important;
}

.bg-gold {
    background: #8a704c !important;
}

.bg-gold.light {
    background: #a88a61 !important;
}

.bg-gold.lighter {
    background: #baa382 !important;
}

.bg-gold.dark {
    background: #69553a
}

.bg-gold.darker {
    background: #483b28
}

.border-gold {
    border-color: #8a704c !important;
}

.border-gold.light {
    border-color: #a88a61 !important;
}

.border-gold.lighter {
    border-color: #baa382 !important;
}

.border-gold.dark {
    border-color: #69553a !important;
}

.border-gold.darker {
    border-color: #483b28 !important;
}

.border-success {
    border-color: #3eb33e !important;
}

.border-success.light {
    border-color: #5dc75d !important;
}

.border-success.lighter {
    border-color: #83d483 !important;
}

.border-success.dark {
    border-color: #318d31 !important;
}

.border-success.darker {
    border-color: #246724 !important;
}

.border-info {
    border-color: #3dabcc !important;
}

.border-info.light {
    border-color: #65bcd7 !important;
}

.border-info.lighter {
    border-color: #8ecee1 !important;
}

.border-info.dark {
    border-color: #2d8da9 !important;
}

.border-info.darker {
    border-color: #226b81 !important;
}

.border-warning {
    border-color: #e6a422 !important;
}

.border-warning.light {
    border-color: #ebb750 !important;
}

.border-warning.lighter {
    border-color: #f0ca7e !important;
}

.border-warning.dark {
    border-color: #bf8616 !important;
}

.border-warning.darker {
    border-color: #926610 !important;
}

.border-danger {
    border-color: #d93c36 !important;
}

.border-danger.light {
    border-color: #e16661 !important;
}

.border-danger.lighter {
    border-color: #e98f8c !important;
}

.border-danger.dark {
    border-color: #b92923 !important;
}

.border-danger.darker {
    border-color: #8e1f1b !important;
}


.rounded-sm {
    border-radius: .2rem !important;
}

.rounded {
    border-radius: .25rem !important;
}

.rounded-top {
    border-top-left-radius: .25rem !important;
}

.rounded-right,
.rounded-top {
    border-top-right-radius: .25rem !important;
}

.rounded-bottom,
.rounded-right {
    border-bottom-right-radius: .25rem !important;
}

.rounded-bottom,
.rounded-left {
    border-bottom-left-radius: .25rem !important;
}

.rounded-left {
    border-top-left-radius: .25rem !important;
}

.rounded-lg {
    border-radius: .3rem !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.rounded-pill {
    border-radius: 50rem !important;
}

.rounded-0 {
    border-radius: 0 !important;
}

/*Backgrounds*/


.bg-black {
    color: #FFF;
    background-color: #000 !important;
}

.bg-black.light {
    color: #FFF;
    background-color: #404040 !important;
}

.bg-black.lighter {
    color: #000;
    background-color: #bfbfbf !important;
}

.bg-white {
    color: #FFF;
    background-color: #fff !important;
}

.bg-silver {
    color: #FFF;
    background-color: #ccc !important;
}

.bg-lkcsb {
    color: #FFF;
    background-color: #005c96 !important;
}

.bg-lkcsb.light {
    color: #FFF;
    background-color: #007bc9 !important;
}

.bg-lkcsb.lighter {
    color: #000;
    background-color: #009bfc !important;
}

.bg-lkcsb.dark {
    color: #FFF;
    background-color: #003d63 !important;
}

.bg-lkcsb.darker {
    color: #FFF;
    background-color: #001d30 !important;
}

.bg-sis {
    color: #000;
    background-color: #c69200 !important;
}

.bg-sis.light {
    color: #000;
    background-color: #f9b800 !important;
}

.bg-sis.lighter {
    color: #000;
    background-color: #ffc82d !important;
}

.bg-sis.dark {
    color: #FFF;
    background-color: #936c00 !important;
}

.bg-sis.darker {
    color: #FFF;
    background-color: #604700 !important;
}

.bg-soa {
    color: #FFF;
    background-color: #9e0040 !important;
}

.bg-soa.light {
    color: #FFF;
    background-color: #d10055 !important;
}

.bg-soa.lighter {
    color: #FFF;
    background-color: #ff056a !important;
}

.bg-soa.dark {
    color: #FFF;
    background-color: #6b002b !important;
}

.bg-soa.darker {
    color: #FFF;
    background-color: #380017 !important;
}

.bg-soe {
    color: #FFF;
    background-color: #006685 !important;
}

.bg-soe.light {
    color: #FFF;
    background-color: #008db8 !important;
}

.bg-soe.lighter {
    color: #FFF;
    background-color: #00b4eb !important;
}

.bg-soe.dark {
    color: #000;
    background-color: #00475c !important;
}

.bg-soe.darker {
    color: #FFF;
    background-color: #002b39 !important;
}

.bg-sol {
    color: #FFF;
    background-color: #306 !important;
}

.bg-sol.light {
    color: #FFF;
    background-color: #4d0099 !important;
}

.bg-sol.lighter {
    color: #FFF;
    background-color: #60c !important;
}

.bg-sol.dark {
    color: #FFF;
    background-color: #1f003d !important;
}

.bg-sol.darker {
    color: #FFF;
    background-color: #0d001a !important;
}

.bg-soss {
    color: #FFF;
    background-color: #063 !important;
}

.bg-soss.light {
    color: #FFF;
    background-color: #00994d !important;
}

.bg-soss.lighter {
    color: #000;
    background-color: #0c6 !important;
}

.bg-soss.dark {
    color: #FFF;
    background-color: #003d1f !important;
}

.bg-soss.darker {
    color: #FFF;
    background-color: #001a0d !important;
}

.bg-cis-secondary {
    color: #FFF;
    background-color: #655DC6 !important;
}

.bg-cis-secondary.light {
    color: #FFF;
    background-color: #786eec !important;
}

.bg-cis-secondary.lighter {
    color: #000;
    background-color: #8277ff !important;
}

.bg-cis-secondary.dark {
    color: #FFF;
    background-color: #4a4593 !important;
}

.bg-cis-secondary.darker {
    color: #FFF;
    background-color: #3d3979 !important;
}

.bg-cgrs {
    color: #000;
    background-color: #009490 !important;
}

.bg-cgrs.light {
    color: #FFF;
    background-color: #00ADA9 !important;
}

.bg-cgrs.lighter {
    color: #000;
    background-color: #00C7C2 !important;
}

.bg-cgrs.dark {
    color: #FFF;
    background-color: #00615E !important;
}

.bg-cgrs.darker {
    color: #FFF;
    background-color: #004745 !important;
}

.bg-blue {
    color: #FFF;
    background-color: #151c55 !important;
}

.bg-blue.light {
    color: #FFF;
    background-color: #1f297e !important;
}

.bg-blue.lighter {
    color: #FFF;
    background-color: #2937a7 !important;
}

.bg-blue.dark {
    color: #FFF;
    background-color: #0b0f2c !important;
}

.bg-blue.darker {
    color: #FFF;
    background-color: #010103 !important;
}

.bg-gold {
    background: #8a704c !important;
}

.bg-gold.light {
    background: #a88a61 !important;
}

.bg-gold.lighter {
    background: #baa382 !important;
}

.bg-gold.dark {
    background: #69553a
}

.bg-gold.darker {
    background: #483b28
}

.bg-gold {
    color: #FFF;
    background-color: #8a704c !important;
}

.bg-gold.light {
    color: #FFF;
    background-color: #a88a61 !important;
}

.bg-gold.lighter {
    color: #000;
    background-color: #baa382 !important;
}

.bg-gold.dark {
    color: #FFF;
    background-color: #69553a !important;
}

.bg-gold.darker {
    color: #FFF;
    background-color: #483b28 !important;
}

.bg-success {
    color: #FFF;
    background-color: #3eb33e !important;
}

.bg-success.light {
    color: #FFF;
    background-color: #5dc75d !important;
}

.bg-success.lighter {
    color: #FFF;
    background-color: #83d483 !important;
}

.bg-success.dark {
    color: #FFF;
    background-color: #318d31 !important;
}

.bg-success.darker {
    color: #FFF;
    background-color: #246724 !important;
}

.bg-info {
    color: #FFF;
    background-color: #3dabcc !important;
}

.bg-info.light {
    color: #FFF;
    background-color: #65bcd7 !important;
}

.bg-info.lighter {
    color: #000;
    background-color: #8ecee1 !important;
}

.bg-info.dark {
    color: #FFF;
    background-color: #2d8da9 !important;
}

.bg-info.darker {
    color: #FFF;
    background-color: #226b81 !important;
}

.bg-warning {
    color: #FFF;
    background-color: #e6a422 !important;
}

.bg-warning.light {
    color: #000;
    background-color: #ebb750 !important;
}

.bg-warning.lighter {
    color: #000;
    background-color: #f0ca7e !important;
}

.bg-warning.dark {
    color: #FFF;
    background-color: #bf8616 !important;
}

.bg-warning.darker {
    color: #FFF;
    background-color: #926610 !important;
}

.bg-danger {
    color: #FFF;
    background-color: #d93c36 !important;
}

.bg-danger.light {
    color: #FFF;
    background-color: #e16661 !important;
}

.bg-danger.lighter {
    color: #FFF;
    background-color: #e98f8c !important;
}

.bg-danger.dark {
    color: #FFF;
    background-color: #b92923 !important;
}

.bg-danger.darker {
    color: #FFF;
    background-color: #8e1f1b !important;
}



/* Buttons  */
.btn {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: #000;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        -webkit-transition: none;
        transition: none;
    }
}

.btn:hover {
    color: #000;
    text-decoration: none;
}

.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(21, 28, 85, 0.25);
}

.btn.disabled,
.btn:disabled {
    opacity: 0.65;
}

a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}

.btn-primary {
    color: #FFF;
    background-color: #151C55;
    border-color: #151C55;
}

.btn-primary:hover {
    color: #FFF;
    background-color: #0d1236;
    border-color: #0b0f2c;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(56, 62, 111, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #FFF;
    background-color: #151C55;
    border-color: #151C55;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #FFF;
    background-color: #0b0f2c;
    border-color: #080b22;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(56, 62, 111, 0.5);
}

.btn-secondary {
    color: #FFF;
    background-color: #8A704C;
    border-color: #8A704C;
}

.btn-secondary:hover {
    color: #FFF;
    background-color: #715c3e;
    border-color: #69553a;
}

.btn-secondary:focus,
.btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(156, 133, 103, 0.5);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #FFF;
    background-color: #8A704C;
    border-color: #8A704C;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
    color: #FFF;
    background-color: #69553a;
    border-color: #614f35;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(156, 133, 103, 0.5);
}

.btn.inverse {
    border-color: #FFF;
    background-color: transparent;
    color: #FFF;
}

.btn-success {
    color: #FFF;
    background-color: #3EB33E;
    border-color: #3EB33E;
}

.btn-success:hover {
    color: #FFF;
    background-color: #349734;
    border-color: #318d31;
}

.btn-success:focus,
.btn-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(91, 190, 91, 0.5);
}

.btn-success.disabled,
.btn-success:disabled {
    color: #FFF;
    background-color: #3EB33E;
    border-color: #3EB33E;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show>.btn-success.dropdown-toggle {
    color: #FFF;
    background-color: #318d31;
    border-color: #2e842e;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(91, 190, 91, 0.5);
}

.btn-info {
    color: #FFF;
    background-color: #3DABCC;
    border-color: #3DABCC;
}

.btn-info:hover {
    color: #FFF;
    background-color: #2f95b4;
    border-color: #2d8da9;
}

.btn-info:focus,
.btn-info.focus {
    box-shadow: 0 0 0 0.2rem rgba(90, 184, 212, 0.5);
}

.btn-info.disabled,
.btn-info:disabled {
    color: #FFF;
    background-color: #3DABCC;
    border-color: #3DABCC;
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show>.btn-info.dropdown-toggle {
    color: #FFF;
    background-color: #2d8da9;
    border-color: #2a849f;
}

.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(90, 184, 212, 0.5);
}

.btn-warning {
    color: #212529;
    background-color: #E6A422;
    border-color: #E6A422;
}

.btn-warning:hover {
    color: #FFF;
    background-color: #cb8e17;
    border-color: #bf8616;
}

.btn-warning:focus,
.btn-warning.focus {
    box-shadow: 0 0 0 0.2rem rgba(200, 145, 35, 0.5);
}

.btn-warning.disabled,
.btn-warning:disabled {
    color: #212529;
    background-color: #E6A422;
    border-color: #E6A422;
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show>.btn-warning.dropdown-toggle {
    color: #FFF;
    background-color: #bf8616;
    border-color: #b47e14;
}

.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.show>.btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(200, 145, 35, 0.5);
}

.btn-danger {
    color: #FFF;
    background-color: #D93C36;
    border-color: #D93C36;
}

.btn-danger:hover {
    color: #FFF;
    background-color: #c42b25;
    border-color: #b92923;
}

.btn-danger:focus,
.btn-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(223, 89, 84, 0.5);
}

.btn-danger.disabled,
.btn-danger:disabled {
    color: #FFF;
    background-color: #D93C36;
    border-color: #D93C36;
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show>.btn-danger.dropdown-toggle {
    color: #FFF;
    background-color: #b92923;
    border-color: #ae2621;
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(223, 89, 84, 0.5);
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.btn-light:focus,
.btn-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-light.disabled,
.btn-light:disabled {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show>.btn-light.dropdown-toggle {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-dark {
    color: #FFF;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-dark:hover {
    color: #FFF;
    background-color: #23272b;
    border-color: #1d2124;
}

.btn-dark:focus,
.btn-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-dark.disabled,
.btn-dark:disabled {
    color: #FFF;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show>.btn-dark.dropdown-toggle {
    color: #FFF;
    background-color: #1d2124;
    border-color: #171a1d;
}

.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.show>.btn-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-outline-primary {
    color: #151C55;
    border-color: #151C55;
}

.btn-outline-primary:hover {
    color: #FFF;
    background-color: #151C55;
    border-color: #151C55;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(21, 28, 85, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #151C55;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #FFF;
    background-color: #151C55;
    border-color: #151C55;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(21, 28, 85, 0.5);
}

.btn-outline-secondary {
    color: #8A704C;
    border-color: #8A704C;
}

.btn-outline-secondary:hover {
    color: #FFF;
    background-color: #8A704C;
    border-color: #8A704C;
}

.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(138, 112, 76, 0.5);
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
    color: #8A704C;
    background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show>.btn-outline-secondary.dropdown-toggle {
    color: #FFF;
    background-color: #8A704C;
    border-color: #8A704C;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(138, 112, 76, 0.5);
}

.btn-outline-success {
    color: #3EB33E;
    border-color: #3EB33E;
}

.btn-outline-success:hover {
    color: #FFF;
    background-color: #3EB33E;
    border-color: #3EB33E;
}

.btn-outline-success:focus,
.btn-outline-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(62, 179, 62, 0.5);
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
    color: #3EB33E;
    background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show>.btn-outline-success.dropdown-toggle {
    color: #FFF;
    background-color: #3EB33E;
    border-color: #3EB33E;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(62, 179, 62, 0.5);
}

.btn-outline-info {
    color: #3DABCC;
    border-color: #3DABCC;
}

.btn-outline-info:hover {
    color: #FFF;
    background-color: #3DABCC;
    border-color: #3DABCC;
}

.btn-outline-info:focus,
.btn-outline-info.focus {
    box-shadow: 0 0 0 0.2rem rgba(61, 171, 204, 0.5);
}

.btn-outline-info.disabled,
.btn-outline-info:disabled {
    color: #3DABCC;
    background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active,
.show>.btn-outline-info.dropdown-toggle {
    color: #FFF;
    background-color: #3DABCC;
    border-color: #3DABCC;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(61, 171, 204, 0.5);
}

.btn-outline-warning {
    color: #E6A422;
    border-color: #E6A422;
}

.btn-outline-warning:hover {
    color: #212529;
    background-color: #E6A422;
    border-color: #E6A422;
}

.btn-outline-warning:focus,
.btn-outline-warning.focus {
    box-shadow: 0 0 0 0.2rem rgba(230, 164, 34, 0.5);
}

.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
    color: #E6A422;
    background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled):active,
.btn-outline-warning:not(:disabled):not(.disabled).active,
.show>.btn-outline-warning.dropdown-toggle {
    color: #212529;
    background-color: #E6A422;
    border-color: #E6A422;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(230, 164, 34, 0.5);
}

.btn-outline-danger {
    color: #D93C36;
    border-color: #D93C36;
}

.btn-outline-danger:hover {
    color: #FFF;
    background-color: #D93C36;
    border-color: #D93C36;
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(217, 60, 54, 0.5);
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
    color: #D93C36;
    background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show>.btn-outline-danger.dropdown-toggle {
    color: #FFF;
    background-color: #D93C36;
    border-color: #D93C36;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(217, 60, 54, 0.5);
}

.btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-outline-light:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-outline-light:focus,
.btn-outline-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-light.disabled,
.btn-outline-light:disabled {
    color: #f8f9fa;
    background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active,
.show>.btn-outline-light.dropdown-toggle {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-dark {
    color: #343a40;
    border-color: #343a40;
}

.btn-outline-dark:hover {
    color: #FFF;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-outline-dark:focus,
.btn-outline-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
    color: #343a40;
    background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled).active,
.show>.btn-outline-dark.dropdown-toggle {
    color: #FFF;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-link {
    font-weight: 400;
    color: #8A704C;
    text-decoration: none;
}

.btn-link:hover {
    color: #8A704C;
    text-decoration: underline;
}

.btn-link:focus,
.btn-link.focus {
    text-decoration: underline;
    box-shadow: none;
}

.btn-link:disabled,
.btn-link.disabled {
    color: #6c757d;
    pointer-events: none;
}

.btn-lg,
.btn-group-lg>.btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.btn-sm,
.btn-group-sm>.btn {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block+.btn-block {
    margin-top: 0.5rem;
}

/* FOR DISPLAY PURPOSES */
body {
    padding: 1rem;
    font-family: "open sans", sans-serif;
}

.main-container a,
.main-container p a {
    color: #8a704c;
    font-weight: 600;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 1rem;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-column-gap: 1rem;
}

.grid-4>* {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
}


.grid-4>div {
    aspect-ratio: 2 / 1;
}


h3,
p {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
}

p.text-white {
    background: black;
}
