*,
td,
th {
    font-size: 16px;
}

body {
    padding: 1em;
}


ol li {
    list-style-type: decimal;
}

ul li {
    list-style-type: initial;
}


#texteditor-container a,
#texteditor-container a b,
#texteditor-container a strong,
.details-box a,
.details-box a b,
.details-box a strong,
.notes-editor a,
.notes-editor a b,
.notes-editor a strong,
.editor-link .link {
    color: #8A704C !important;
    font-weight: bold !important;
    text-decoration: underline !important;
}


.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.list-group-horizontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    margin-left: 0 !important;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125) !important;
}


.nav-item {
    list-style: none !important;
}

/* Blockquote custom CSS not working */
        /*
        #texteditor-container .ql-editor blockquote {
            border: 0 !important;
            background: rgba(255, 50, 50, 0.25) !important;
            padding: 1rem !important;
            text-align: center !important;
            margin-left: 0 !important;
            display: block !important;
        }
        */

.code-block-view--iframe-container a {
    color: #8a704c;
    font-weight: 600;
}
