body {
    background-color: #FFF;
    min-width: 320px;
}

a {
    color: #8A704C;
}

a:hover,
a:focus {
    color: #A88A61;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    margin: 0 0 0.5em 0;
}

h4,
h4 {
    font-family: "Open sans", sans-serif;
    font-weight: bold;
}

h2.section-header,
h3 {
    font-size: 21px;
    text-transform: uppercase !important;
}

section {
    padding: 30px 0;
    border-radius: 4px;
}


/* Temp Styles */
.carousel-banner,
.inner-page-banner {
    padding: 0;
    overflow: hidden;
}

.carousel-banner .img-container {
    height: 360px;
}

.carousel-banner .img-container img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.inner-page-banner,
.inner-page-banner .bg-image {
    height: 140px;
}

.inner-page-banner .bg-image {
    background: #151C55 no-repeat right 50%;
    background-size: 50%;
    position: relative;
    top: 0;
    left: 0;
}

.inner-page-banner .bg-overlay {
    background: linear-gradient(90deg, rgba(21, 28, 85, 1.0) 50%, rgba(21, 28, 85, 0) 75%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.banner-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.banner-content .breadcrumb {
    background: transparent;
    font: 12px/16px "Open sans", sans-serif;
    color: #FFF;
    display: block;
    margin: 30px 0 10px 0;
    padding: 0;
}

.banner-content h1 {
    color: #FFF;
}

.banner-content .breadcrumb a {
    color: #FFF;
}



/* Home - Members */
.nav.nav-tabs {
    margin-top: 30px;
}

.nav.nav-tabs li.active a {
    background: #EEE;
}

.iac-members .btn-group {
    width: 100%;
}

.iac-members .btn-group.open>.dropdown-menu {
    width: 100%;
    text-align: center;
}

.iac-members .btn {
    margin: 15px auto 0;
    display: block;
}

.iac-member-content {
    padding: 60px;
    background: #EEE;
    border: 1px solid #DDD;
    border-top: 0;
}

.iac-member-content h3 {
    margin-bottom: 15px;
}

.iac-member-content .panel {
    background-color: #FFF;
    height: 380px;
}

.iac-profile .panel-heading {
    padding: 0;
}

a.iac-profile,
a.iac-profile:hover,
a.iac-profile:focus {
    text-decoration: none;
    color: inherit;
}

a.iac-profile .panel,
a.iac-profile:hover .panel,
a.iac-profile:focus .panel {
    transition: all ease 0.3s;
}

a.iac-profile .panel {
    transform: translateY(0);
}

a.iac-profile:hover .panel {
    transform: translateY(-3px);
}

span.profile-name,
span.profile-designation,
span.profile-organization {
    display: block;
}

span.profile-name {
    font-weight: bold;
    color: #8A704C;
}

span.profile-designation {
    font-size: 12px;
}

span.profile-smu {
    font-style: italic;
    font-size: 12px;
}

span.profile-smu:before {
    content: "(";
}

span.profile-smu:after {
    content: ")";
}




/* Home - News */
.news-set {
    padding: 0 0 30px 0;
}

p i.fa,
p i.fas,
p i.fab {
    margin: 0 5px;
}

p.lead {
    font-size: 18px;
    margin-bottom: 5px;
}

p.lead a {
    color: #252525;
}


.description {
    padding-top: 0px;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #8b8b8b;
}




/* Home - Events */
.event-set {}

.event-set .panel {
    background: #EEE;
    height: 380px;
    border-radius: 4px !important;
}

.event-set .panel-heading,
.event-set .panel-body {
    background: transparent;
}

.event-set .panel-heading {
    padding: 0;
}





/* Home - Contact Us */
section.iac-contact {
    background: #EEE;
}

.iac-contact h4 {
    font-weight: bold;
    color: #151C55;
}

.contact-profile {
    padding: 15px;
    background: #EEE;
    margin-bottom: 5px;
}



/* INNER PAGES */
.iac-members,
.iac-event-details {
    padding: 30px 0;
}


/* IAC MEMBERS PROFILES */
.anchor {
    position: relative;
}

.anchor a {
    position: absolute;
    left: 0px;
    top: -20px;
}

.iac-region {
    margin-bottom: 60px;
    text-align: center;
}
.iac-region ul {
    list-style: none;
    padding: 0;
}

.iac-region ul li {
    display: inline-block;
}

.iac-region ul li:after {
    content: "|";
    color: #DDD;
}

.iac-region ul li a {
    padding: 0 15px;
}

.iac-region ul li:first-child a {
    padding-left: 0;
}

.iac-region ul li.last-leaf:after {
    content: "";
}

h2.event-name {
    margin: 15px 0;
}



/* EVENT DETAILS */
.event-details {}

.event-details .location,
.event-details .date,
.event-details .time {
    display: block;
    font-weight: bold;
}

.event-details .location::before,
.event-details .date::before,
.event-details .time::before {
    color: #666;
    font-weight: normal;
    width: 80px;
    display: inline-block;
}


.event-details .location::before {
    content: "Location: ";
}
.event-details .date::before {
    content: "Date: ";
}
.event-details .time::before {
    content: "Time: ";
}

.prog-table {
    margin-bottom: 30px;
}

.prog-table .row > div[class*="col-"] {
    padding: 0;
}

.prog-table .row:nth-child(odd) {
    background-color: #FFF;
}
.prog-table .row:nth-child(even) {
    background-color: #EEE;
}

.prog-table .title {
    background-color: hsla(233, 35%, 75%, 1) !important;
    font-weight: bold;
}

.prog-table .prog-time,
.prog-table .prog-content {
    padding: 10px 15px;
}

.prog-table .time,
.prog-table .topic {
    font-weight: bold;
}

.prog-table .topic,
.prog-table .speaker,
.prog-table .speaker .name,
.prog-table .speaker .designation,
.speaker-profile .name,
.speaker-profile  .designation {
    display: block;
}

.prog-table .speaker {
    margin-top: 10px;
}

.prog-table .speaker a,
.speaker-profile .name {
    font-weight: bold;
}

.speaker-profile .designation {
    margin-bottom: 15px;
}

.anchor {
    position: relative;
}

.anchor > a {
    position: absolute;
    top: -200px;
    left: 0;
}


/* Responsive */
@media (min-width: 1440px) {}

@media (max-width: 1439px) {}

@media (max-width: 991px) {
    .carousel-banner .img-container {
        height: 640px;
        overflow-x: hidden;
    }

    .carousel-banner .img-container img {
        height: 100% !important;
        width: auto;
        top: 0;
        transform: translateY(0);
        left: 50% !important;
        transform: translateX(-50%);
    }

    .iac-member-content .panel {
        height: 480px;
    }
}

@media (max-width: 767px) {
    .iac-member-content {
        padding: 15px;
        margin-top: 15px;
        border-top: 1px solid #DDD;
    }

    .iac-member-content .panel {
        height: auto;
    }

    .panel-heading img {
        width: 100% !important;
    }

    .iac-news {
        margin-top: 15px;
    }
}

@media (max-width: 576px) {}