html {
    scroll-behavior: smooth;
}

body {
    background-color: hsla(0, 0%, 100%, 1);
    min-width: 320px;
}

a {
    color: hsla(35, 29%, 42%, 1);
}

a:hover,
a:focus {
    color: hsla(35, 29%, 52%, 1);
}


/*************************************************************/
/* These css styles should already be in BASE THEME */
h1,
h2,
h3,
.h1,
.h2,
.h3 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    margin: 0 0 0.5em 0;
}

h4 {
    font-family: "Open sans", sans-serif;
    font-weight: bold;
}

h2.section-header,
h3 {
    font-size: 21px;
    text-transform: uppercase !important;
}

h3 {
    margin-top: 30px;
}

.featured-image {
    display: block;
    margin: 15px 0;
}

/* Carouse Banner */
.carousel-banner,
.inner-page-banner {
    padding: 0;
    overflow: hidden;
}

.carousel-banner .img-container {
    height: 360px;
}

.carousel-banner .img-container img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Inner page banner */
.inner-page-banner,
.inner-page-banner .bg-image {
    height: 140px;
}

.inner-page-banner .bg-image {
    background: hsla(233, 60%, 21%, 1) no-repeat right 50%;
    background-size: 50%;
    position: relative;
    top: 0;
    left: 0;
}

.inner-page-banner .bg-overlay {
    background: linear-gradient(90deg, hsla(233, 60%, 21%, 1.0) 50%, hsla(233, 60%, 21%, 0) 75%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.banner-content .breadcrumb {
    background: transparent;
    font: 12px/16px "Open sans", sans-serif;
    color: hsla(0, 0%, 100%, 1);
    display: block;
    margin: 30px 0 10px 0;
    padding: 0;
}

.banner-content .breadcrumb > li + li:before {
    content: "\00bb" !important;
}

.banner-content .breadcrumb li a {
    padding: 0 2px; 
    color: hsla(0, 0%, 100%, 1);
}

.banner-content h1 {
    color: hsla(0, 0%, 100%, 1);
}

/* End of BASE THEME styles*/
/*************************************************************/



/* GENERIC */
div.section {
    padding: 30px 0;
}

.iac-profile .panel-heading,
.event-set .panel-heading,
.news-set .panel-heading {
    padding: 0;
} 

p i.fa,
p i.fas,
p i.fab {
    margin: 0 5px;
}

p.lead {
    font-size: 18px;
    margin-bottom: 5px;
}

p.lead a {
    color: hsla(0, 0%, 15%, 1);
}

h3.title {
    margin: 0;
}

.description {
    padding-top: 0px;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: hsla(0, 0%, 55%, 1);
}

.description .news-date {
    margin: 5px 0 0;
    display: block;
}

.description p {
    color: #000 !important;
    margin-top: 15px;
}

.inner-page-content {
    padding: 30px 0;
}

.side-bar .event-set,
.side-bar .news-set {
    padding: 0 15px;
}

    .side-bar .event-set .panel,
    .side-bar .news-set .panel {
        height: auto;
        background: #EEE !important;
    }

.event-set .panel-heading,
.event-set .panel-body,
.inner-page-content .news-set .panel-heading,
.inner-page-content .news-set .panel-body {
    background: transparent;
}

/* anchor */
.anchor {
    position: relative;
}

.anchor>a {
    position: absolute;
    top: -200px;
    left: 0;
}


/* SIDEBAR */
.side-bar h3:first-child {
    margin-top: 0;
}


/***** HOME *****/
/* section: members */
div.section .iac-members {}

.nav.nav-tabs {
    margin-top: 15px;
}
.nav.nav-tabs li a {
    font-weight: bold;
    color: hsla(233, 60%, 21%, 1);
}

.nav-tabs>li>a:hover {
    border-color: hsla(233, 60%, 21%, 1);
    background: hsla(233, 60%, 21%, 1);
    color: hsla(0, 0%, 100%, 1);
}

.nav-tabs>li>a:focus {
    border-color: hsla(233, 60%, 11%, 1);
    background: hsla(233, 60%, 11%, 1);
    color: hsla(0, 0%, 100%, 1);
}
.nav.nav-tabs li.active a,
.iac-member-content {
    background: hsla(233, 25%, 92%, 1);
}

/* mobile: members tabs convert to dropdown menu */
.iac-members .btn-group {
    width: 100%;
}

.iac-members .btn-group.open>.dropdown-menu {
    width: 100%;
    text-align: center;
}

.iac-members .btn {
    margin: 15px auto 0;
    display: block;
}

.iac-member-content {
    padding: 60px;
    border: 1px solid hsla(233, 35%, 90%, 1);
    border-top: 0;
    margin-bottom: 15px;
}

    .iac-member-content h3 {
        margin-bottom: 15px;
        color: #151C55;
    }

    .iac-member-content .panel {
        background-color: hsla(0, 0%, 100%, 1);
        height: 400px;
    }

/* Styles for panel to move when hover */
.iac-profile,
.iac-profile:hover,
.iac-profile:focus {
    text-decoration: none;
    color: inherit;
}

    .iac-profile .panel,
    .iac-profile:hover .panel,
    .iac-profile:focus .panel {
        transition: all ease 0.3s;
    }

    .iac-profile:hover .panel {
        transform: translateY(-3px);
    }



/* section: profile */
/* Styles reusable on page-level */



/* section: news - text-based links */
.iac-events-news .news-set {
    padding: 0 0 30px 0;
}


/* section: events - panel in carousel */
.iac-events-news .carousel-inner {
    margin-bottom: 15px; 
}
    .iac-events-news .carousel-inner .item {
        height: 440px;
        background: #EEE;
        overflow-y: hidden;
    }

.iac-events-news .carousel-control {
    background: transparent;
    bottom: 25%;
    color: #8A704C;
    text-shadow: none;
    opacity: 0.2;
    transition: all ease 0.3s;
}

.iac-events-news .carousel-control:hover {
    opacity: 1;
}

/* section: about */
div.section.iac-about {
    background: url('images/bg-about.png') hsla(233, 60%, 21%, 1) no-repeat 50% 50%;
    background-size: cover; 
}

div.section.iac-about h2.section-header,
div.section.iac-about p {
    color: #FFF;
}

div.section.iac-about div.header-gold-line {
    background: #FFF;
}

div.section.iac-about p.contact-profile {
    background-color: hsla(0, 0%, 0%, .5);
    padding: 10px;
    border-radius: 4px;
}



/* PAGE: PROFILES */
h4.profile-name,
span.profile-designation,
span.profile-organization {
    display: block;
}

h4.profile-name {
    font-weight: bold;
    color: hsla(35, 29%, 42%, 1);
    margin: 0;
    line-height: 1.5em;
}
span.profile-designation {
    font-size: 12px;
}

span.profile-smu {
    font-style: italic;
    font-size: 12px;
}

span.profile-smu:before {
    content: "(";
}

span.profile-smu:after {
    content: ")";
}

/* IAC region selector */
.iac-region {
    margin-bottom: 60px;
    text-align: center;
}

    .iac-region ul {
        list-style: none;
        padding: 0;
    }

        .iac-region ul li {
            display: inline-block;
        }

        .iac-region ul li:after {
            content: "|";
            color: hsla(0, 0%, 87%, 1);
        }

            .iac-region ul li a {
                padding: 0 15px;
            }

            .iac-region ul li:first-child a {
                padding-left: 0;
            }

        .iac-region ul li.last-leaf:after {
            content: "";
        }



/* PAGE: EVENTS */
.event-set {}

.inner-page-content .event-set,
.inner-page-content .news-set  {
    margin: 0 0 15px;
}

.inner-page-content h2.event-name {
    margin: 0 0 15px 0;
}

.event-details {}

/* programme location, date and time */
.event-details .location,
.event-details .date,
.event-details .time {
    display: block;
    font-weight: bold;
}

    .event-details .location::before,
    .event-details .date::before,
    .event-details .time::before {
        color: hsla(0, 0%, 40%, 1);
        font-weight: normal;
        width: 80px;
        display: inline-block;
    }

    .event-details .location::before {
        content: "Location: ";
    }

    .event-details .date::before {
        content: "Date: ";
    }

    .event-details .time::before {
        content: "Time: ";
    }

/* programme table */
.prog-table {
margin-bottom: 30px;
}

    .prog-table .row>div[class*="col-"] {
        padding: 0;
    }

    .prog-table .row:nth-child(odd) {
        background-color: hsla(0, 0%, 100%, 1);
    }

    .prog-table .row:nth-child(even) {
        background-color: hsla(0, 0%, 93%, 1);
    }

.prog-table .title {
    background-color: hsla(233, 35%, 75%, 1) !important;
    font-weight: bold;
}

.prog-table .prog-time,
.prog-table .prog-content {
    padding: 10px 15px;
}

.prog-table .time,
.prog-table .topic {
    font-weight: bold;
}

.prog-table .topic,
.prog-table .speaker,
.prog-table .speaker .name,
.prog-table .speaker .designation,
.speaker-profile .name,
.speaker-profile .designation {
    display: block;
}

.prog-table .speaker {
    margin-top: 10px;
}

    .prog-table .speaker a,
    .speaker-profile .name {
        font-weight: bold;
    }

.speaker-profile .designation {
    margin-bottom: 15px;
}

/* side-bar - event */
.side-bar .event-set h3.title {
    margin: 0 0 5px;
}


/* post-event gallery colorbox */
div#cboxOverlay {
    background: rgba(0,0,0,0.9) !important;
}

.photo {
    margin: 15px 0;
}

.photo img {
    border-radius: 4px;
}

.photo > a {
    transition: all ease .3s;
    display: block;
}

.photo > a:hover {
    transform: translateY(-3px);
}



/* PAGE: NEWS */
.inner-page-content .news-set .panel {
    background: #EEE;
    height: 380px;
}

/* side-bar - news */
.side-bar .news-set h3.title {
    margin: 0 0 5px;
}

/* Partners */
.partners img {
    margin-bottom: 15px;
}


/* Responsive */
@media (min-width: 1440px) {}

@media (max-width: 1439px) {
    .iac-events-news .carousel-inner .item {
        height: auto;
        min-height: 430px;
    }
}

@media (max-width: 991px) {
    .carousel-banner .img-container {
        height: 640px;
        overflow-x: hidden;
    }

    .carousel-banner .img-container img {
        height: 100% !important;
        width: auto;
        top: 0;
        transform: translateY(0);
        left: 50% !important;
        transform: translateX(-50%);
    }

    .iac-member-content .panel {
        height: 500px;
    }

    .iac-events-news .carousel-inner .item {
        height: auto;
        min-height: 0;
    }

    .iac-events-news .carousel-inner .item img {
        width: 100%;
    }
}

@media (max-width: 767px) {

    .banner-content {
        padding: 0 15px;
    }

    .iac-member-content {
        padding: 15px;
        margin-top: 15px;
        border-top: 1px solid hsla(0, 0%, 87%, 1);
    }

    .iac-member-content .panel {
        height: auto;
    }

    .panel-heading img {
        width: 100% !important;
    }

    .iac-news {
        margin-top: 15px;
    }

    .side-bar {
        margin-top: 30px;
    }
}

@media (max-width: 576px) {}